* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

.site-wrapper {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* header, address, and footer is good on m/t/d */

header {
    width: 100%;
    height: auto;
    margin: 25px auto;
}
header img {
    min-width: 100px;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}
main {
    width: 100%;
    display: flex;
}
address {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #eee;
    padding: 25px; 
    box-shadow: inset 1px 15px 17px -20px rgba(0,0,0,0.50);
}

footer {
    width: 100%;
    height: auto;
    padding: 15px 0 15px 25px;
    background-color: rgb(57, 57, 57);
    color: white;
    display: flex;
    flex-direction: column;
}
footer h3 {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Shrikhand', cursive;
}
.ft-links ul {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.ft-links ul li{
    list-style: none;

}

/* Tablet 768px */
/* Desktop 992px */
/* max 1200px */