/* Color Reference
 Primary (purple) - #9356DC
 Secondary (pink)- #FF79DA
 Tertiary (aqua) - #99E2D0
 */

* {
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    
}
html {
    line-height: 1.15;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header {
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
 .back-btn {
    position: relative;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5em;
}
header a {
    color: black;
}
header img {
    width: 250px;
    margin: 0 auto;
}

/* main section */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.hero-image img{
    margin: auto;
    width: 300px;
}
.full-menu-wrapper {
    position: relative;
    top: -50px;
    background-color: rgb(250, 250, 250);
    border-radius: 2em 2em 0 0;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 20px 10px 0 10px;
    font-family: 'Shrikhand', cursive;
}

.heart-wrap {
    position: relative;
    left: -30px;
    top: -15px;
    font-size: 2em;

}
.heart-wrap .far {
    position: absolute;
    color: black;
}
.heart-wrap .fas {
    position: absolute;
     /* gradient heart */
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* hover effect */
    opacity: 0;
    transition-property: opacity, z-index;
    transition-duration: 850ms;
}

.heart-wrap:hover .fas{
    opacity: 1;
}
.heart-wrap:hover .far{
    opacity: 0;
}
/* menu-header END */

/* Menu Entrees */
.menu-entrees {
    padding: 10px;
}
.menu-entrees span {
    font-weight: 300;
    font-size: .9em;
}
.green-line {
    width: 40px;
    height: 2px;
    background-color: #99E2D0;
    margin-top: 5px;
    margin-bottom: 45px;
    
}
.menu-items-container {
    margin: 15px 0;
}
.menu-item {
    display: flex;
    flex-direction: column;
    z-index: 99;

    margin: 10px 0;
  
    position: relative;
    width: 290px;
    
    /* menu appearing animation */
    animation: menuItems;
    animation-duration: 650ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    /* menu appearing transition */
    transition-duration: 300ms;
    transition-property: width;
}

.item-one, .item-two, .item-three {
    opacity: 0;
    animation-direction: normal;
}
.item-two {
    animation-delay: 1s;
}
.item-three {
    animation-delay: 2s;
}

@keyframes menuItems {
    0% {
        opacity: 0;
        top: 0px;
    }
    25%, 50% {
        opacity: 0.5;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 10px;
    }
}

.menu-items-container .item-one, .menu-items-container .item-two, .menu-items-container .item-three {
    transform: translateY(-25px);
    transition-property: transform;
    transition: 1s ease;
}

.menu-dish {
    border-radius: 20px;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: 5px 5px 69px 2px #dadada;  
}
.menu-dish span {
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu-dish:hover span {    
    padding-right: 25px;
}

.menu-item:hover .menu-dish {
    width: 80%;
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;   
}
.menu-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.menu-price span {
    font-weight: 300;
    font-size: .9em;
}
.price {
    font-size: .9em;
}
.menu-ticker {
    background-color: #99E2D0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20px;
    
}
.fa-check-circle {
    font-size: 1.4em;
    color: white;
    position: absolute;
    left: 270px;
    top: 25px;
    opacity: 0;
    
    /* Ticker Rotate Effect */
    transition: transform 500ms linear;
}
.menu-item:hover .fa-check-circle{
    transform: translate(-20px)rotate(1turn);
    opacity: 1;
}

footer {
    width: 100%;
    height: auto;
    padding: 15px 0 15px 25px;
    background-color: rgb(57, 57, 57);
    color: white;
    display: flex;
    flex-direction: column;
}
footer a {
    color: white;
}
footer h3 {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Shrikhand', cursive;
}
.footer-link-wrap {
    display: flex;
    margin: 10px;
}
.footer-links, .footer-icons {
    display: flex;
    flex-direction: column;
}
@media (min-width: 481px){
    .back-btn {  
        left: 30px;
        font-size: 2em;
    }
}