* {
    box-sizing: border-box;
    text-decoration: none;
}
body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
html {
    line-height: 1.15;
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid black;

}
header {
    width: 100%;
    height: auto;
    margin: 10px auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .back-btn {
    position: relative;
    left: 25px;
    background-color: transparent;
    border: none;
    font-size: 30px;
}
header a {
    color: black;
}

header img {
    min-width: 100px;
    max-width: 250px;
    margin: 0 auto;
}
/* main section */

.hero-image img{
   width: 485px;
   position: relative;
}
.full-menu-wrapper {
    position: relative;
    top: -70px;
    background-color: rgb(250, 250, 250);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding-bottom: 25px;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding: 20px 10px 0 10px;
    font-family: 'Shrikhand', cursive;
}

.menu-entrees, .menu-main-dish, .menu-desserts {
    margin: auto 25px;
}
.heart-wrap {
    position: relative;
    left: -50px;
    top: -15px;
    font-size: 30px;

}
.heart-wrap .far {
    position: absolute;
    color: black;
}
.heart-wrap .fas {
    position: absolute;
     /* gradient heart */
    background: -webkit-gradient(linear, left top, left bottom, from(purple), to(pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* hover effect */
    opacity: 0;
    transition-property: opacity, z-index;
    transition-duration: 850ms;
}

.heart-wrap:hover .fas{
    opacity: 1;
}
.heart-wrap:hover .far{
    opacity: 0;
}
.menu-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price {
    padding-right: 10px;
}
.green-line {
    width: 40px;
    height: 2px;
    background-color: aqua;
    margin-bottom: 15px;
}
.menu-items-container {
    margin-top: 40px;
    /* fr codepen transfer */
    /* width: 500px;
        height: 400px;
        margin: 50px; */
}
.menu-item {
    display: flex;
    flex-direction: column;
    margin: 15px;
    z-index: 99;
    
    position: relative;
    /* fr codepen transfer */
    /* animation first try */

    animation: menuItems;
    animation-duration: 850ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    /* for ticker transition */
    transition-duration: 300ms;
    transition-property: width;
}

.item-one, .item-two, .item-three {
    opacity: 0;
    animation-direction: normal;
}
.item-two {
    animation-delay: 2s;
}
.item-three {
    animation-delay: 3s;
}

@keyframes menuItems {
    0% {
        opacity: 0;
        top: 0px;
    }
    25%, 50% {
        opacity: 0.5;
        top: -10px;
    }
    100% {
        opacity: 1;
        top: 10px;
    }
}

.menu-items-container .item-one, .menu-items-container .item-two, .menu-items-container .item-three {
    transform: translateY(-25px);
    transition-property: transform;
    transition: 1s ease;
}

.menu-dish {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 69px 2px #dadada;
    
}
.menu-item:hover .menu-dish {
    width: 85%;   
}
.menu-price {
    padding-top: 10px;
}
.menu-price span {
    white-space: nowrap;
    overflow: hidden;
}
.menu-ticker {
    background-color: #99E2D0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    
}
.fa-check-circle {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 380px;
    top: 17px;
    opacity: 0;
    
    transition: transform 500ms linear;
}
.menu-item:hover .fa-check-circle{
    transform: translate(-20px)rotate(1turn);
    opacity: 1;
}

footer i {
    position: relative;
    left: -20px;
}

footer {
    width: 100%;
    height: auto;
    padding: 15px 0 15px 25px;
    background-color: rgb(57, 57, 57);
    color: white;
    display: flex;
    flex-direction: column;
}
footer h3 {
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Shrikhand', cursive;
}
footer a {
    color: white;
}

.ft-links ul {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.ft-links ul li{
    list-style: none;

}